%size-100 {
    height: 100%;
}
%movie-card-footer {
    padding: 0;
      
    & > div {
      width: 50%;
      display: inline-block;
    }

    & .text-muted {
      padding-left: 0.5rem;
    }

    & .btn {
      width: 100%;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
}

@mixin respond-to($breakpoint) {
    // If the key exists in the map
    @if map-has-key($breakpoints, $breakpoint) {
      // Prints a media query based on the value
      @media (min-width: map-get($breakpoints, $breakpoint)) {
        @content;
      }
    }
   
    // If the key doesn't exist in the map
    @else {
      @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
          + "Available breakpoints are: #{map-keys($breakpoints)}.";
    }
  }