<div class="tf-movie-detail-container" [style.backgroundImage]="'url(' + config.base_url + 'original' + movie?.backdrop_path + ')'">
    <div class="tf-movie-detail row col-lg-5">
        <div class="col-xl-4 col-lg-12">
            <img class="" src="{{config.base_url}}w185{{movie?.poster_path}}"/>
        </div>
        <div class="col-xl-8 col-lg-12">
            <h2>{{movie?.original_title}}</h2>
            <div class="tf-rating-container">
                    <div class="tf-rating-off">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        </div>
                    <div class="tf-rating-on" [style.width]="movie?.vote_average * 10 + '%'">
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    </div>
                </div>
                {{movie?.release_date | date:'yyyy'}}
            <div class="tf-overview">{{movie?.overview}}</div>
            <div class="tf-small-text"><i>runtime: {{movie?.runtime}} min</i></div>
            <div class="tf-action-container">
                <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="buy(movie)" *ngIf="!userService.isOwnMovie(movie.id)">
                    Buy for Rp. {{movie?.vote_average | priceonrate | number:'2.'}}
                </button>
                <button class="btn btn-success my-2 my-sm-0 disabled" type="button" *ngIf="userService.isOwnMovie(movie.id)">
                    Owned
                </button>
                <button class="btn btn-outline-danger mx-2 my-sm-0" 
                (click)="openTrailer(movie?.videos?.results[0])"
                *ngIf="movie?.videos?.results[0] && movie?.videos?.results[0].site === 'YouTube'" 
                type="button">
                    Trailer
                </button>
            </div>
        </div>
    </div>
</div>
<h1 class="tf-sub-title">Similar Movies</h1>
<div class="tf-side-view">
    <div class="tf-side-movie-container">
        <div class="card" *ngFor="let movie of similarMovies; index as i" [attr.data-index]="i" (click)="openMovie($event, movie)">
            <img class="card-img-top" src="{{config.base_url}}w185{{movie?.poster_path}}"/>
            <div class="card-body">
                <h6 class="card-title">{{movie?.original_title}}</h6>
            </div>
            <div class="card-footer">
                <div class="text-muted">Rp. {{movie?.vote_average | priceonrate | number:'2.'}}</div>
                <div>
                    <button class="btn btn-success" type="button" (click)="buy(movie)" *ngIf="!userService.isOwnMovie(movie.id)">
                            Buy
                    </button>
                    <button class="btn btn-success disabled" type="button" *ngIf="userService.isOwnMovie(movie.id)">
                        Owned
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<h1 class="tf-sub-title">Recommended Movie</h1>
<div class="tf-side-view">
        <div class="tf-side-movie-container">
            <div class="card" *ngFor="let movie of recommendedMovies; index as i" [attr.data-index]="i" (click)="openMovie($event, movie)">
                <img class="card-img-top" src="{{config.base_url}}w185{{movie?.poster_path}}"/>
                <div class="card-body">
                    <h6 class="card-title">{{movie?.original_title}}</h6>
                </div>
                <div class="card-footer">
                    <div class="text-muted">Rp. {{movie?.vote_average | priceonrate | number:'2.'}}</div>
                    <div>
                        <button class="btn btn-success" type="button" (click)="buy(movie)" *ngIf="!userService.isOwnMovie(movie.id)">
                                Buy
                        </button>
                        <button class="btn btn-success disabled" type="button" *ngIf="userService.isOwnMovie(movie.id)">
                            Owned
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>